.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: sans-serif;
}
.progressbar {
  width: 500px;
  height: 30px;
  background-color: #f3f3f3;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.progressbar span {
  position: absolute;
  height: 100%;
  display: flex;
  color: #1a1a1a;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.progress {
  background-color: #00c251;
  height: 100%;
}
